<head>
</head>
<body>
    <!-- <h1>Hello, {{fname}}, {{fname}}, {{lname}}, {{id}}, {{wallet}}</h1> -->
    <div class="split left">
        <div class="left">
          <h2>Hello {{fname}}</h2>

          <img src="https://acnhcdn.com/latest/NpcIcon/mus10.png" alt="Avatar">
          <h6><br>Personal information</h6>
          <figure>
          <table>
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{id}}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{fname}}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{lname}}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{username}}</td>
                </tr>
                <tr>
                    <th>Wallet</th>
                    <td>{{wallet}}</td>
                </tr> 
            </tbody>
        </table>
        <a (click)="LogOut()">Log Out</a>
    </figure>
        </div>
      </div>
      
      <div class="split1 right">
        <div class="centered">
            <h2>My inventory</h2>
            <table>
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Photo</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let i of items">
                        <td>{{i.Id}}</td>
                        <td>{{i.Name}}</td>
                        <td>{{i.Balance}}</td>
                        <td><img src={{i.Url}} height="100" width="100"></td>
                        <td><button id={{i.Id}} (click)="SellItem($event)">Sell</button></td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="items === null"> <!-- this was changed for testing.-->
                No items to display... :(
            </p>
        </div>
      </div>
</body>