<head>
</head>
 <body>
<h1>Show Marketplace Items</h1>

<label for="itemname">Item Name<span class="required">*</span></label>
<input id ="itemsearch" type="text" name="itemname">
<button (click)="SearchClicked($event)">Search An Item</button>

<table *ngIf="items.length > 0">
    <thead>
        <th>Listing ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Photo</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let i of items">
            <td>{{i.Id}}</td>
            <td>{{i.Name}}</td>
            <td>{{i.Balance}}</td>
            <td>{{i.UnitPrice}}</td>
            <td><img src={{i.Url}}></td>
            <td><button id={{i.Id}} (click)="BuyItem($event)">Buy</button></td>
        </tr>
    </tbody>
</table>
<p *ngIf="items.length === 0">
    No items to display... :(
</p>
</body>
