
<article style="text-align: center; color: rgb(22, 107, 19);">Welcome to AC Market</article>

<article>
  <div></div>
    <p>Animal crossing is a game about cute animated animals living together in a cozy town or island. It is known for housing customization. Unlocking furniture, crafting furniture, and showing off your creativity. With hundreds of items and many variations of those items available in game, it gives us a basis for our own e-commerce oasis. Each user will be able to create their own account, search through the animal crossing item library, and trade those items. When a user creates their account, they will be given a starting balance that they can spend on an item from the marksetplace or a random item from a grab bag. We are treating the platform as an open market where sellers and buyers control the price of an item. We hope to include some mini-games that reflect aspects of Animal Crossing.</p>
    <footer>
      <article class="grid" >
        <div style="max-width: 14rem;" > 
          <h2 style="text-decoration: underline;">Eric</h2> 
          <img src="https://acnhapi.com/v1/images/villagers/110" alt="animated deer img" style="border: 5px solid #555;" >
          <p style ="max-width: 14rem;">Hello, my name is Eric. I deeply enjoy Thai food, trying all things new to me, video games, and reading books. Before I came to revature I worked in IT and Networking.</p>
        </div>
        
        <div style="max-width: 14rem;"> 
          <h2 style="text-decoration: underline;">Artur</h2><img src="https://acnhapi.com/v1/images/villagers/150" alt="" style="border: 5px solid #555;">
          <p>Hello, my name is Artur. This my first Html, CSS and JS experience. I am happy to learn front end, but sorry I liked back end more ))</p>
        </div>
        
        <div style="max-width: 14rem;" > 
          <h2 style="text-decoration: underline;">John</h2>
          <img src="https://acnhapi.com/v1/images/villagers/77" alt="" style="border: 5px solid #555;">
          <p>I am a Full Stack Software Developer from Birmingham, Alabama. I graduated in May 2022 from Auburn University with a Bachelor's Degree in Computer Science, where I have gained experience with object-oriented programming languages such as Java and C++. </p>
        </div>

      </article>
      
    </footer>
  </article>