<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACFront app is running!</title>
    <meta name="description" content="A minimalist layout for Login pages. Built with Pico CSS.">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
  </head>
      <app-navigation-bar></app-navigation-bar>
      <router-outlet></router-outlet>
      <div class="content" role="main"><span style ="color: transparent">{{ title }} app is running!</span></div>
      
