/* input:invalid + span::after {
    content: "Required quantity is not available";
    color: red;
    padding-left: 5px;
  } */

  /* Split the screen in half */
.split {
    height: 91.1%;
    width: 30%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .split1 {
    height: 91.1%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 200;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: transparent;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: transparent;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: relative;
    /* top: 50%; */
    left: 0%;
    /* transform: translate(0%, -50%);  */
    /* text-align: center;  */
    overflow: visible;
    z-index: 1;
    padding-top: 100px;
    /* height: 20;  */
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  th, td {
    font-size: 14px;
  }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}