/* choose all elements that have heading class (.) */
/* Class Selector */
.heading {
    color: blueviolet;
}
/* The following style will override the one above */
.heading {
    color: rgb(24, 38, 43);

}
.heading-one {
    font-size: 3em;
}
body {
    background-color: rgb(185, 212, 240);
    font-size: 2em;

}
.heading-smaller{

font-size: 1em;

}
/* Tag Selector */
input {

    background-color: rgb(227, 243, 241);
}
nav > ul > li {
    list-style: none;
    display: inline-flex;
    background-color: inherit;
}
nav > ul > li > a {
    text-decoration: none;
    color: black;
}

/* Selecting elements via its id */
#first-div {
    background-color: lavender;
}

button:hover {
    border: transparent;
    background-color:transparent;
    color: transparent;
    transition: 0.7s;
}

.btn {
    /* These are rules */
    padding: 10pt;
    border: solid black 2pt;
    background-color: skyblue;
    color: white;
    text-decoration: none;
}

/* This is pseudo class selector */
.btn:hover {
    background-color: rgb(255, 2, 2);
}

.leftpad-med {
    padding-left: 10%
}